h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-weight: 800;
  text-align: center;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 250ms ease-in-out forwards;
          animation: fade-in 250ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 250ms ease-in-out forwards;
          animation: fade-out 250ms ease-in-out forwards;
}

.has-fade {
  visibility: hidden;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif;
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

.main-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.main-padding {
  padding: 0 2rem;
}

.header-padding {
  padding-top: 3rem;
}

.container--all {
  padding: 2rem;
}

.container--pr {
  padding-right: 2rem;
}

.container--image {
  padding: 1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  padding-top: 1rem;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  position: fixed;
  top: 7.7rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DEE6F2), to(transparent));
  background-image: linear-gradient(#DEE6F2, transparent);
}

.header__logo {
  width: 100px;
  display: contents;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: grey;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  background: #ffffff;
  padding: 2rem;
  background-color: #ffffff;
  position: absolute;
  top: 8rem;
  width: calc(80% - 4rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 2rem;
}

.header__menu a {
  display: block;
  color: #0523af;
  padding: 0.625rem;
  text-align: center;
  font-size: 1.7rem;
}

.header__links a {
  position: relative;
  font-size: 1.125rem;
  margin-right: 2rem;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a::before {
  content: " ";
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
}

.header__links a:hover {
  color: #0578af;
}

.header__links a:hover::before {
  background: -webkit-gradient(linear, left top, right top, from(#0578af), to(#04197d));
  background: linear-gradient(to right, #0578af, #04197d);
}

.button, button {
  padding: 1rem 1.875rem;
  border-radius: 50px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#0523af), to(#0578af));
  background: linear-gradient(to right, #0523af, #0578af);
  color: #DEE6F2;
  border: none;
  -webkit-transition: opacity;
  transition: opacity;
}

.button:hover, button:hover {
  opacity: 0.75;
}

@media (min-width: 64em) {
  .button, button {
    margin-top: 2rem;
  }
}

@media (min-width: 64em) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__image {
  background-image: url("../../../images/financial_analyst.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 24rem;
  padding-bottom: calc(100% * 3 / 4);
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.hero__text {
  text-align: center;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.hero__text p {
  line-height: 1.7;
  text-align: left;
}

.home-about {
  text-align: center;
}

.home-about h4 {
  text-align: left;
}

.home-about p {
  line-height: 1.6;
  text-align: left;
}

.service {
  background-color: #0523af;
  color: #ffffff;
}

.service h1 {
  margin: 2rem;
}

@media (min-width: 40em) {
  .service__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.service__item {
  padding: 0.9375rem;
}

@media (min-width: 40em) {
  .service__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (min-width: 64em) {
  .service__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.service img {
  color: red;
  width: 4rem;
}

.service__icon {
  text-align: center;
}

.service__title {
  font-weight: 600;
  padding: .75rem;
  font-size: 1.275rem;
  text-align: center;
}

@media (min-width: 40em) {
  .service__description {
    line-height: 1.9;
    padding: .75rem;
  }
}

.slider {
  background-color: #e3e3e3;
  max-width: 90rem;
}

.vendor-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vendor-list__item {
  width: 180px;
  border: 2px red solid;
  margin-right: 2rem;
}
/*# sourceMappingURL=style.css.map */