// Colours

$primarycolour: #0523af; // Blue
$secondarycolour: #04197d ; // Dark Blue
$tertiarycolour: #DEE6F2 ; // Light shade gray
$white: #ffffff; // White
$lightblue: #0578af;
$purple: #3c05af; 


// Font sizes 

$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
