
.hero{
  @include breakpoint-up(large) {
    display: flex;
    align-items: center;
    // height: 400px; // Give a specify hzaeight will restricts the container but leaves me with layout issues 
  }

  &__image {
    position: relative;
    background-image: url("../../../images/financial_analyst.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 24rem;
    padding-bottom: calc(100% * 3 / 4);

    @include breakpoint-up(large) {
      flex: 1;
      order: 2;
      // background-position: top;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../../../images/banker.png);
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__text {
    text-align: center;

    // Mixins for the Media queries

    @include breakpoint-up(large) {
      flex: 1;
      order: 1;
    }

    p {
      line-height: 1.7;
      text-align: left;
    }
  }
}


.home-about {
  text-align: center;

  h4 {
    text-align: left;
  }

  p {
    line-height: 1.6;
    text-align: left;
  }
}


.service {
  background-color: $primarycolour;
  color: $white;

  h1 {
    margin: 2rem;
  }

  &__grid {

    @include breakpoint-up(medium){
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 0.9375rem;
    // background-color: grey;

    @include breakpoint-up(medium){
      flex: 1 0 50%;
    }

    @include breakpoint-up(large){
      flex: 1;
    }
  }

  img {
    color: red;
    width: 4rem;
  }

  &__icon {
    text-align: center;
    @include breakpoint-up(medium){
      
    }
  }

  &__title {
    font-weight: 600;
    padding: .75rem;
    font-size: 1.275rem;
    text-align: center;
    
    @include breakpoint-up(medium){
      // margin-bottom: 2rem;
    }

    @include breakpoint-up(large){
      // margin-bottom: 2rem;
    }
  }

  &__description {

    @include breakpoint-up(medium) {
      line-height: 1.9;
      padding: .75rem;
    }
  }
}

.slider {
  background-color: #e3e3e3;
  max-width: 90rem;
  
  @include breakpoint-up(medium) {

  }
}

.vendor-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  &__item {
    width: 180px;
    border: 2px red solid;
    margin-right: 2rem;
    margin: 0 auto;
  }
}